
/* Resize SVG upon window resizing help - https://chartio.com/resources/tutorials/how-to-resize-an-svg-when-the-window-is-resized-in-d3-js/ */

body{
    background: #f7f7f7;
}

h1{
    color:#0199d3;
    font-size:40px;
}

.question {
    background: white;
    border: 1px solid #0199d3;
    min-height:200px;
    margin-bottom:30px;
}

#chart1{
    padding: 10px;
}
#chart2{
    padding: 10px;
}
.twelve columns question alpha{ /* svg-container */
    /* padding-top: 15px; */
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
}


/* .twelve columns question alpha{
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
} */

.twelve columns question alpha h6 {
    font-family: Consolas;
    text-transform: uppercase;
    font-weight:bold;
}

/* .chartholder{
    width: 30%;
    margin-right:3%;
    float:left;
    text-align:center;
    padding-bottom:40px;
}

.chartholder h6 {
    font-family: Consolas;
    text-transform: uppercase;
    font-weight:bold;
} */
